---

import HeroSection from "../components/HeroSection.astro";
import LandingHeader from "../components/LandingHeader.astro";
import Layout from "../layouts/Layout.astro";
import Skills from "../components/Skills.astro";
import Proyectos from "../components/Proyectos.astro";
import Contacto from "../components/Contacto.astro";
---

<Layout title="Welcome to Astro.">
	<LandingHeader></LandingHeader>
	<main class="snap-y snap-mandatory relative w-full h-screen overflow-auto scroll-smooth">
		<div class="snap-center">
			<HeroSection></HeroSection>
		</div>
		<div class="snap-center">
			<Skills></Skills>
		</div>	
		<div class="snap-center">
			<Proyectos></Proyectos>
		</div>
		<div class="snap-center">	
			<Contacto></Contacto>
		</div> 
	

		
	</main>
</Layout>
