<section    id="contacto"
			class="landing-section justify-center items-center bg-white h-screen w-screen text-center overflow-hidden relative"
            data-header-color='black'
		>
			<div class="z-30 relative h-full flex flex-col mt-24">
				<header class="flex-col">
					<h2 
					class="text-black pt-40px text-[40px] font-medium">
					
						CONTACTO
	
					</h2>
					<p class="text-black text-sm">
						Pueden contactarme por cualquiera de mis redes sociales, o si lo prefiere por el siguiente formulario
					</p>
				</header>
				
			</div>
			
			
	
		</section>