<section
	id="sobremi"
	class="landing-section justify-center items-center bg-black h-screen w-screen text-center overflow-hidden relative"
	data-header-color="white"
>
	<div class="z-30 relative h-full flex flex-col mt-24">
		<header class="flex-col">
			<h2
				class="text-yellow-300 pt-30px text-[40px] font-medium animate-fade-down animate-duration-[1300ms]"
			>
				MAXIMILIANO GUERZONI
			</h2>
			<p class="text-white text-xm mt-5">
				Soy un desarrollador autodidacta con sede en Argentina y me
				especializo en el lenguaje <strong class="text-yellow-300"> JavaScript</strong> con el framework
				<strong class="text-blue-300">React</strong> . A lo largo de mi trayectoria, he invertido
				tiempo y esfuerzo en aprender de forma autónoma, adquiriendo habilidades
				sólidas en el desarrollo web y la construcción de aplicaciones interactivas.
				Mi pasión por la programación comenzó mientras exploraba el potencial
				de JavaScript y su capacidad para <strong class="text-yellow-300">
					crear experiencias de usuario dinámicas y
				</strong>. Desde entonces, he estado enfocado en el desarrollo
				con React, aprovechando su flexibilidad y capacidad para crear
				aplicaciones <strong class="text-blue-300"> escalables y de alta calidad</strong>.
			</p>
		</header>
	</div>

	<div
		
		class="ml-14 absolute z-10 top-44 left-1/3 max-w-xs mt-16 animate-fade-up animate-duration-[1300ms]">
	
		
		<img src="maxideveloper.png" alt="foto-perfil" />
	</div>
</section>
