<section 	id="skills"
			class="landing-section justify-center items-center bg-white h-screen w-screen text-center overflow-hidden relative"
            data-header-color='black'
		>
			<div  class="z-30 relative h-full flex flex-col mt-24">
				<header class="flex-col">
					<h2 
					class="text-black pt-40px text-[40px] font-medium">
					
						SKILLS
	
					</h2>
					<p class="text-black text-sm">
						
					</p>
				</header>
				<div>

				</div>
				
			</div>
			
			
			<div class="absolute top-0 bottom-0 z-10">
			
			</div>
		</section>