<section    id="proyectos"
			class="landing-section justify-center items-center bg-black h-screen w-screen text-center overflow-hidden relative"
            data-header-color='white'
		>
			<div 
                
                class="z-30 relative h-full flex flex-col mt-24">
				<header class="flex-col">
					<h2 
                    
					class="text-white pt-40px text-[40px] font-medium">
					
						PROYECTOS
	
					</h2>
					<p class="text-white text-sm">
						¡Bienvenido a mi sección de proyectos! Aquí encontrarás una selección de los proyectos en los que he trabajado con entusiasmo y dedicación. Cada uno de ellos representa un desafío único y una oportunidad para aplicar y pulir mis habilidades y logica de programador.
					</p>
				</header>
			
			</div>
			
			
			<div class="absolute top-0 bottom-0 z-10">
				<!-- <video
					slot="background"
					class="object-center object-cover h-full w-full"
					autoplay
					muted
					loop
					src="/video2.mp4"></video> -->
			</div>
		</section>